################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AddressExtensionModule/.vs
/AddressExtensionModule/bin
/AddressExtensionModule/obj/Debug
/AddressExtensionModule/packages
